Zadania
Przedmiotem dzisiejszych zajęć jest zapoznanie się z podstawami Języka Python oraz rozwiązanie zadań.
Napisz funkcję, która:

1. dla pobranych z klawiatury dwóch liczb zwróci ich iloczyn.

In [1]:
def iloczyn():
    liczba1 = float(input("Podaj pierwszą liczbę: "))
    liczba2 = float(input("Podaj drugą liczbę: "))
    wynik = liczba1 * liczba2
    return wynik
print(iloczyn())

Podaj pierwszą liczbę: 4
Podaj drugą liczbę: 3
12.0

2. sprawdzi, czy podana liczba jest parzysta.

In [3]:
def czy_parzysta(liczba):
    if liczba % 2 == 0:
        return True
    else:
        return False
print(czy_parzysta(6))

True

3. obliczy sumę kwadratów kolejnych liczb naturalnych mniejszych od zadanej wartości.

In [8]:
def suma_kwadratow(n):
    suma = 0
    for i in range(n):
        suma += i ** 2
        print(i,n,suma)
    return suma
print(suma_kwadratow(5))

0 5 0
1 5 1
2 5 5
3 5 14
4 5 30
30

4. sprawdzi, czy podana liczba jest pierwsza.

In [ ]:
def czy_pierwsza(n):
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

print(czy_pierwsza(12))
print(czy_pierwsza(13))

False
True

5. znajdzie dzielniki podanej liczby.

In [ ]:
from math import sqrt
def ile(n):
    licznik = 0
    for i in range(1, int(sqrt(n))+1):
        if n % i == 0:
            licznik += 1
            # print(i)
    if sqrt(n)*sqrt(n) == n:
        return 2*licznik - 1
    else:
        return 2*licznik

print(ile(6))

4

6. zwróci rozkład zadanej liczby na dzielniki pierwsze.

In [10]:

def rozloz(n):
    czynniki = []
    k = 2
    while n != 1:
        while n % k == 0:
            n //= k
            czynniki.append(k)
        k += 1
    
    return czynniki
print(rozloz(17))

[17]

7. znajdzie najmniejszą wspólna wielokrotność podanych dwóch liczb.

In [12]:

def nwd(a, b):
    if b > 0:
        return nwd(b, a%b)
    else:
        return a
def nww(a, b): 
  return a*b//nwd(a, b)

6
12
36

8. przedstawi zadaną liczbę w postaci binarnej.

In [20]:
def bina(a):
    binary=bin(a)
    return (binary)
print(bina(30)[2:])

11110

9. dla zadanych wartości współczynników trójmianu kwadratowego znajdzie jego miejsca zerowe.

In [25]:
import math

def miejsca_zerowe(a, b, c):
    delta = b**2 - 4*a*c
    if delta < 0:
        return None
    elif delta == 0:
        x = -b / (2*a)
        return x
    else:
        x1 = (-b - math.sqrt(delta)) / (2*a)
        x2 = (-b + math.sqrt(delta)) / (2*a)
        return x1, x2
print(miejsca_zerowe(1,8,6))

(-7.16227766016838, -0.8377223398316205)

10. dla danego n obliczy n! . Podaj różne rozwiązania tego problemu.

In [27]:
def silnia(n):
    if n > 1:
        return n*silnia(n-1)
    return 1
print(silnia(7))
def silnia2(n):
    wynik = 1
    i = 1
    while i <= n:
        wynik *= i
        i += 1
    return wynik
print(silnia2(8))

5040
40320

11. oblicza n-tą liczbę Fibonacciego (n duże).

In [28]:
def fib_i(n):
    if n == 0: return 0
    elif n == 1: return 1
    p, w = 0, 1
    for i in range(n-1):
        p, w = w, p+w
    return w
print(fib_i(55))

139583862445

12. dla dowolnej ilości argumentów zwróci ich skumulowane sumy częściowe.

In [30]:
def sumyczesciowe(*args):
    result = []
    total = 0
    for arg in args:
        total += arg
        result.append(total)
    return tuple(result)
print(sumyczesciowe(1, 2, 3, 4, 5))

(1, 3, 6, 10, 15)

13. dla dowolnej ilości argumentów liczbowych zwróci ich średnią arytmetyczną.

In [33]:
def avg(*args):
    total = 0
    count = 0
    for arg in args:
        total += arg
        count += 1
    return total / count if count > 0 else 0
print(avg(1, 4, 3, 4, 77))

17.8

14. dla zadanego łancucha znaków zwróci łańcuch ze znakami w odwrotnej kolejności.

In [36]:
def odwrotna(tekst):
    return ''.join(reversed(tekst))
print(odwrotna('KamilŚlimak'))

kamilŚlimaK

15. dla danego łańcucha znaków zwróci informację ile jest w nim dużych, a ile małych liter.

In [42]:
def upper_lower(string):
    upper_count = 0
    lower_count = 0
    
    for char in string:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1
    
    return ('Duże:',upper_count,'Małe:', lower_count)
print(upper_lower('By The River'))

('Duże:', 3, 'Małe:', 7)

16. dla danej tablicy zwróci tablicę z jej unikalnymi elementami.

In [43]:
def unikalne(array):
    return list(set(array))
print(unikalne([2305, 11243, 86743,1,2305, 11243, 86743]))

[2305, 11243, 1, 86743]

17. dla zadanego łańcucha znaków zwróci słownik ze statystykami na temat częstości występowania poszczególnych znaków.

In [44]:
def wystepowanie(string):
    freq = {}
    for char in string:
        if char in freq:
            freq[char] += 1
        else:
            freq[char] = 1
    return freq
print(wystepowanie('Kamil Ślimak'))

{'K': 1, 'a': 2, 'm': 2, 'i': 2, 'l': 2, ' ': 1, 'Ś': 1, 'k': 1}

18. dla zadanego stringa zwróci liste słów, na które można go podzielić.

In [45]:
def podzial(text):
    words = text.split()
    return words
print(podzial('Ultradźwiękowy stymulator zrostu kości.'))

['Ultradźwiękowy', 'stymulator', 'zrostu', 'kości.']

19. dla zadanego string zwróci jego postać w notacji wielbłądziej, np. dla ”ala ma pythona” otrzymamy ’alaMaPythona’.

In [47]:
def to_camel(text):
    words = text.split()
    camel_case_words = [words[0].lower()]
    for word in words[1:]:
        camel_case_words.append(word.capitalize())
    camel_case_text = ''.join(camel_case_words)
    return camel_case_text
print(to_camel('ala ma pythona'))

alaMaPythona

20. dla stringa w postaci wielbłądziej zwróci jego postać ”normalną”, np. dla ’alaMaPythona’ otrzymamy ”ala ma pythona”.

In [48]:
def from_camel(s):
    result = ""
    for i, c in enumerate(s):
        if c.isupper() and i > 0:
            result += " "
        result += c
    return result.lower()
print(from_camel( 'alaMaPythona'))

ala ma pythona

21. zgodnie z metodą babilońską obliczy przybliżenie pierwiastka kwadratowego danej liczby.

In [52]:
def sqrt_babyl(a, n=1000):
    x = a/2
    for i in range(n):
        x = (x + a/x)/2
    return x
print(sqrt_babyl(11))

3.3166247903554

22. przybliża wartość π (metoda Monte-Carlo).

In [59]:
import random

def pi(iterations):
    inside_circle = 0
    total = 0
    
    for i in range(iterations):
        x = random.uniform(-1, 1)
        y = random.uniform(-1, 1)
        
        if x**2 + y**2 <= 1:
            inside_circle += 1
        
        total += 1
    
    return 4 * inside_circle / total
print(pi(10))
print(pi(110))
print(pi(1111110))

4.0
3.2
3.139210339210339

23. dla list a = [1, 2, 3] i b = [4, 5, 6] zwróci wynik c = [(1, 4),(2, 5),(3, 6)].

In [65]:

def lista(a,b):
    c=list(zip(a,b))
    return c
print(lista([1, 2, 3],[4, 5, 6] ))

[(1, 4), (2, 5), (3, 6)]

24. dla zakresu liczb range(100) zwróci listę wartości, które są podzielne przez 3 i niepodzielne przez 5.

In [66]:
def dzielenie_przez_3_nie_5(range_limit):
    return [x for x in range(range_limit) if x % 3 == 0 and x % 5 != 0]

wynik = dzielenie_przez_3_nie_5(100)
print(wynik)

[3, 6, 9, 12, 18, 21, 24, 27, 33, 36, 39, 42, 48, 51, 54, 57, 63, 66, 69, 72, 78, 81, 84, 87, 93, 96, 99]